<div uk-filter="target: .js-filter; animation: 800">
  <div class="header">
    <div class="container-class">
      <div class="intro">
        <h2> Explore polls everywhere in the world </h2>
        <p>Check a lot of interesting polls from different cultures</p>
        <input type="text" id="searchbar" name=''
          placeholder="Search by names, cities, topics or anything comes to your mind" />
        <input type="text" id="searchbtn" value="" />
        <a id="filter" href="#" class="uk-active" uk-filter-control="" hidden></a>
      </div>
    </div>
  </div>
  <div class="container-class">
    <div class="poll">
      <div class="our-work js-filter">
        <ng-container *ngIf='voteList && voteList.length>0;else emptyList'>
          <div class="card-vote" *ngFor='let vote of voteList;let i=index' [attr.data-name]="vote.title.toUpperCase()">
            <div class="infoPoll">
              <p class="durationPoll">{{getExpireDate(vote.endDate)}}</p>
              <p class="namePoll">{{vote.title}}</p>
            </div>
            <button class="vote" routerLink='/vote/cast/{{vote._id}}'>Vote Now</button>
          </div>
        </ng-container>
        <ng-template #emptyList>
          <h1>There are no active polls right now</h1>
        </ng-template>
      </div>
    </div>
  </div>
</div>