
// body {
//     margin: 0;
//     padding: 0;
//     background-color: #fff;
//     height: 1940px;
//     }


.header {
    /* width: 1349px; /* 1440px */
     /* height: 380px; */
     /* opacity: 0.36; */
     /* mix-blend-mode: darken; */
     background-color:  #564A8B; 
     padding-top:75px;
     /* background-image: url("../architect.svg"); */
     /* width: 1440px; */
     /* height: 381px; */
     
   }

.header  .intro{

	/* margin-top: 100px; */
	text-align: center;
    /* background-color: yellow; */
    padding-top: 50px;
    padding-bottom:65px;
    /* background-image: linear-gradient(256deg, #937de2 97%, #7570d6 21%); */
}

.header  .intro h2{

	// margin:0 auto;
	font-size: 30px;
    // width: 572px;
    // height: 38px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    /* font-family:Helvetica; */
}

.header  .intro p{
  margin-top: 20px;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #aca0be;
  
}





/* ALternative search bar using relation */

#searchbar{
   
    outline: none;
    width: 250px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* border-right: none; */
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid#fff;
    width: 500px;
    height: 56px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #42455b;
    margin-bottom: 20px;
    /* opacity: 0.6;*/
  
}

#searchbtn{
    border: 1px solid #000;
    font-size: 16px;
    padding: 10px;
    padding-right: 70px;
    background: #f1d829;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: none;
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-image: none;
    border-left: none;
    background-image: url("../../assets/ic-searchmain.svg");
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    border: 2px solid#fff;
    /* width: 576px; */
    height: 56px;
    background-color:#fff;
    margin-bottom: 20px;
}

// .sticky {
//     position: fixed;
//     top: 0;
//     width: 100%;
//   }


/*--------------------------------------------------------------------------------------*/

// .container-class{
// 	width: 1200px;
// 	margin: auto;
// }



.poll{
  
  margin-top: 71px;
  font-family: "Open sans";
 margin-left: 33px;

}

// .poll{
//      margin-top: 71px;
// }

.poll .our-work{
     overflow: hidden; // change
}

// .poll .card-vote{
//     background-color: #ffffff;
//     float: left;
//     width: 31.333333%; //31.33333333333333%
//     margin-bottom: 39px;
//     //  margin-right: 22px; //chabge
//      border: 1px solid #e0e0e9;
//      border-radius: 4px;
    
// }


.poll .card-vote .infoPoll{
    margin-left: 38px;
}

.poll .card-vote .infoPoll .durationPoll{
    width: 281px;
  height: 28px;
  /* font-family: HelveticaNeue; */
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #a3a6ba;
  margin: 38px 38px 8px 0px;
}

.poll .card-vote .infoPoll .namePoll{
    width: 281px;
  height: 56px;
  /* font-family: HelveticaNeue; */
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #343643;
}

.poll .card-vote  hr{
    margin: 20px 0;
    background-color: #999;
    height: 1px;
    border: 0;

}

.poll .card-vote  .vote{
    width: 100%;
  font-size: 16px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #7f5fcb;
  background: none;
  margin-top: 98px;
  border: 1px solid #e0e0e9;
  border-left-style:none ;
  border-right-style: none;
  border-bottom-style: none;;
  padding: 16px;
  outline:none;
}
/***********************************************************************************************/


/* mobile and tablet rules*/
@media (max-width:767px){ 
  .container-class{
    margin: auto;
  }  

  .header  .intro h2{
      font-size: 18px;
      color: #ffffff;
  }
  
  .header  .intro p{
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #aca0be;
  }

  #searchbar{
    outline: none;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid#fff;
    width: 255px;
    height: 56px;
    color: #42455b;
}

#searchbtn{
    border: 1px solid #000;
    font-size: 16px;
    padding: 0px;
    padding-right: 0px;
    background: #f1d829;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: none;
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-image: none;
    border-left: none;
    background-image: url("../../assets/ic-searchmain.svg");
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    border: 2px solid#fff;
    height: 56px;
    background-color:#fff;
    padding-right: 70px;
    margin-right: 1px;
  }
  
    .poll .card-vote{
      // background-color: red;
      //  width: 100%;
       margin-bottom: 39px;
       border: 1px solid #e0e0e9;
       border-radius: 4px;
       margin-right: 5px;

  }
  .poll{
    margin-left: 5px;
  }
  } 
  
  
  /*
  //small screen rules
  @media (min-width:768px){ 
   
    .container-class{
      width: 744px;
      margin: auto;
    }
    .poll .card-vote{
      // background-color: blue;
      float: left;
      width: 50%; 
      margin-bottom: 39px;
       border: 1px solid #e0e0e9;
       border-radius: 4px;
    }
    
  }
  
  
  
  //medium screen rules
  @media (min-width:992px){
    
    .container-class{
      width: 992px;
      margin: auto;
    }
  
    .poll .card-vote{
      //  background-color: yellow;
       float: left;
       width: 33.333%; 
       margin-bottom: 39px;
       border: 1px solid #e0e0e9;
       border-radius: 4px;
      
    }
    
   
  } 
  
  //large screen rules
  @media (min-width:1200px){
   
    .container-class{
      width: 1200px;
      margin: auto;
    }

    .poll{
  
      margin-top: 71px;
      font-family: "Open sans";
      margin-left: 33px;
    
    }
    
    .poll .card-vote{
      // background-color: yellow;
      float: left;
       width: 31.333333%; //31.33333333333333%
      margin-bottom: 39px;
       margin-right: 22px; 
       border: 1px solid #e0e0e9;
       border-radius: 4px;
      
    }
  } 
  
*/


@media (min-width:768px){ /*small screen rules*/

  .container-class{
    //width: 768px px;
    width: 744px;
  
    margin: auto;
  }
  .poll .card-vote{
    // background-color: blue;
    float: left;
    //  width: 50%; 
    width: 45%;
    margin-bottom: 39px;
     //margin-right: 14px; 
     border: 1px solid #e0e0e9;
     border-radius: 4px;
    margin-right: 5px;
  }
  
    
  }
  
  
  
  
  @media (min-width:992px){/*medium screen rules*/
  
  .container-class{
    width: 992px;
    margin: auto;
  }
  
  .poll .card-vote{
    // background-color: yellow;
    float: left;
    //  width: 33.333%; 
    width: 32%;
    margin-right: 5px;
    margin-bottom: 39px;
     //margin-right: 22px; 
     border: 1px solid #e0e0e9;
     border-radius: 4px;
    
  }
  
  
  } 
  
  
  @media (min-width:1200px){/*large screen rules*/
  
  .container-class{
    width: 1200px;
    margin: auto;
  }
  
  .poll .card-vote{
    // background-color: yellow;
    float: left;
    //  width: 31.333333%; //31.33333333333333%
    margin-bottom: 39px;
     border: 1px solid #e0e0e9;
     border-radius: 4px;
    width: 32.33333333333%;
    margin-right: 10px;
  }
  
  
  
  }


