<div uk-modal id="wrong-token-modal">
    <div class="modal-body">
        <div class="form-wrapper">
            <img src="../../assets/ic-close.svg" class="ic-close uk-modal-close">
            <div>
                <p class="word">There is not user with this token</p>
            </div>
            <div class="resendemail">
                <button type="send" class="btn" routerLink=''>Go to Home</button>
            </div>
            <p class="cancel uk-modal-close">Cancel</p>
        </div>
    </div>
</div>
<div uk-modal id="expired-token-modal">
    <div class="modal-body">
        <div class="form-wrapper">
            <img src="../../assets/ic-close.svg" class="ic-close uk-modal-close">
            <div>
                <p class="word">This email has expired</p>
            </div>
            <div class="resendemail">
                <button type="send" class="btn">Resend Email</button>
            </div>
            <p class="cancel uk-modal-close">Cancel</p>
        </div>
    </div>
</div>