.form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 32px 60px 38px 32px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
    width: 555px;
    // height: 100%;
    border-radius: 16px;
    margin: 0 auto;
}

.ic-close {
    margin-left: auto;
    cursor: pointer;
}

.word {
    margin: 0 auto;
    width: 435px;
    height: 28px;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: bold;
    letter-spacing: normal;
    color: #343643;
    text-align: center;
}


.resendemail{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.resendemail button {
    
  color: #fff;
  border: 2px solid #fff;
  padding: 8px 0px;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  width: 160px;
  height: 48px;
  border-radius: 6px;
  background-color: #7570d6;
  margin-top: 56px;
  font-family: "Open sans";
  font-size: 16px;
  font-weight: bold;
  
}
  
.resendemail button:hover {
  color: #7570d6;
  background-color: #fff;
  border: 2px solid #7570d6;
}
  

.cancel{
  width: 357px;
  height: 20px;
  font-family: "Open sans";
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #7f5fcb;
  margin-top: 32px;
}
  
.cancel:hover{
  cursor: pointer;
}