// // /* You can add global styles to this file, and also import other style files */
@import "./app/variables";

//  html, body { height: 100%; }
 body { margin: 0; font-family: Roboto, "Helvetica Neue", "Open Sans" sans-serif; background-color: #fff; }


 .ui-datepicker {
  background-color: white;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
   margin-top: 0.25rem;
  border-radius: 0.5rem;
   padding: 0.5rem;
  z-index: 1000 !important;

.ui-datepicker-header {
    background-color: white;
    color: black;
    border: none;
}

//    table {
//     border-collapse: collapse;
//     border-spacing: 0;
//    }

.ui-datepicker-calendar thead th {
    padding: 0.25rem 0;
text-align: center;
font-size: 0.75rem;
font-weight: 400;
color: #78909C;
}

.ui-datepicker-calendar tbody td {
    width: 2.5rem;
    text-align: center;
    padding: 0;
}
.ui-datepicker-calendar tbody td {
    a {
    display: block;
    border-radius: 0.25rem;
    line-height: 2rem;
    transition: 0.3s all;
    color: #546E7A;
    font-size: 0.875rem;
    text-decoration: none;
    border: none;
    background: transparent;
    text-align: center;
    }

    .ui-state-highlight,
    .ui-widget-content .ui-state-highlight,
    .ui-widget-header .ui-state-highlight {
    border: none;
    background: $dash-text;
    color: grey;
    }

}



   .ui-datepicker-calendar tbody td a:hover {
     background-color: #E0F2F1;
   }

   .ui-datepicker-calendar tbody td a.ui-state-active {
     background-color: #009688;
     color: white;
   }

   .ui-datepicker-header a.ui-corner-all {
     cursor: pointer;
     position: absolute;
     top: 0;
   width: 2rem;
   height: 2rem;
     margin: 0.5rem;
     border-radius: 0.25rem;
    transition: 0.3s all;
  }

  .ui-datepicker-header a.ui-corner-all:hover {
    background-color: #ECEFF1;
  }

  .ui-datepicker-header a.ui-datepicker-prev {
    left: 0;
    background: url(assets/cal-prev.svg);
    background-repeat: no-repeat;
    background-size: 6px;
    background-position: 50%;
  }

  .ui-datepicker-header a.ui-datepicker-next {
    right: 0;
    background: url(assets/cal-nxt.svg);
    background-repeat: no-repeat;
    background-size: 6px;
    background-position: 50%;
  }

  .ui-datepicker-header a>span {
    display: none;
  }

  .ui-datepicker-title {
    text-align: center;
    line-height: 2rem;
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    padding-bottom: 0.25rem;
  }

  .ui-datepicker-week-col {
    color: #78909C;
    font-weight: 400;
    font-size: 0.75rem;
  }
} 