<div class="container text-center" *ngIf='voteDetails'>
  <img class="logo" src="../../assets/logo2.svg"/>
  <h1 class="heading text-center">{{voteDetails['title']}}</h1>
  <p class="pra1" *ngIf='voteDetails&&voteDetails.isMulti;else single'>Choose one or more options. It’s safe and
    anonymous.</p>
  <ng-template #single>
    <p class="pra1">Choose one option. It’s safe and anonymous.</p>
  </ng-template>
  <form [formGroup]='voteForm' (submit)='castVote()'>
    <div class="text-center mainbox " *ngIf='!voteDetails["isMulti"];else multi'>
      <div class="box1" *ngFor='let optionName of voteDetails["options"];let i=index'>
        <label>
          <input type="radio" name='option' [value]="optionName" formControlName='option' class="uk-radio">
          <span class="spn">
            {{optionName}}
          </span>
        </label>
        <img *ngIf='voteDetails.optionImages[i]!=="NONE"' class="pho1"
          src="http://localhost:8000/{{voteDetails.optionImages[i]}}">
        <!-- <img class="pho1" src="../../assets/joe-leahy-q1ath1kYV-c-unsplash.jpg"> -->
      </div>
      <!-- <div class="box1 ">
        <label><input type="checkbox" class="uk-checkbox" /><span> Ahmed Duhur</span></label>
      </div>
      <div class="box1">
        <label><input type="checkbox" class="uk-checkbox" /><span> Khaled eL Asl</span></label>
        <img class="pho1" src="../../assets/alex-suprun-ZHvM3XIOHoE-unsplash.jpg">
      </div> -->
    </div>
    <ng-template #multi>
      <div class="text-center mainbox ">
        <div class="box1" *ngFor='let optionName of voteDetails["options"];let i=index'>
          <label>
            <input type="checkbox" name='option' [value]="optionName" [id]='optionName' class="uk-checkbox">
            <span>
              {{optionName}}
            </span>
          </label>
          <img *ngIf='voteDetails.optionImages[i]!=="NONE"' class="pho1"
            src="http://localhost:8000/{{voteDetails.optionImages[i]}}">
          <!-- <img class="pho1" src="../../assets/joe-leahy-q1ath1kYV-c-unsplash.jpg"> -->
        </div>
        <!-- <div class="box1 ">
          <label><input type="checkbox" class="uk-checkbox" /><span> Ahmed Duhur</span></label>
        </div>
        <div class="box1">
          <label><input type="checkbox" class="uk-checkbox" /><span> Khaled eL Asl</span></label>
          <img class="pho1" src="../../assets/alex-suprun-ZHvM3XIOHoE-unsplash.jpg">
        </div> -->
      </div>
    </ng-template>
    <button type="submit" class="btn btn-primary btnv text-center">Send My Vote</button>
    <P class="pcast text-center">Once you send your vote, you won’t be able to change it later.</P>
    <p class="plogo">This poll is created via </p>
    <img class="logo3" src="../../assets/logo2.svg">
  </form>
</div>
<div uk-modal id="cast-vote-modal" *ngIf='voteId'>
  <div class="modal-body">
    <div class="form-wrapper">
      <div>
        <p class="word"></p>
      </div>
      <div class="resendemail">
        <button type="send" class="btn" routerLink='/vote/result/{{voteId}}' uk-toggle="target: #cast-vote-modal">Go to
          vote result</button>
      </div>
    </div>
  </div>
</div>