.container {
    width: 1440px;
    height: 984px;
    border-radius: 6px;
    background-color: #fff;
}

.logo {
    position: relative;
    top: 90px;
    text-align: center;;
}

.heading {
    width: 466px;
    height: 33px;
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #343643;
    position: relative;
    top: 100px;
    left:330px;
    white-space: nowrap;
    
}

.pra1 {
    width: 595px;
    height: 22px;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #a3a6ba;
    position: relative;
    top: 100px;
    left: 270px;
}

.mainbox {
    position: relative;
    top: 130px;
}


.box {
    position: relative;
    top: 130px;
    right: 40px;
    
}
.pho1 {
    width: 56px;
    height: 56px;
    border-radius: 3px;
    position: relative;
    right: 180px;
    bottom: 15px;
}
.uk-checkbox {
    width: 25px;
    height: 25px;
    object-fit: contain;
    position: relative;
    bottom: 10px;
    right:20px;
    
}
.box1 {
    width: 400px;
    height: 80px;
    border-radius: 4px;
    border: solid 2px #f3f3f9;
    background-color: #fff;
    position: relative;
    left: 350px;
    margin: 20px;
    padding: 25px;

}
.active {
    width: 400px;
    height: 80px;
    border-radius: 4px;
    border: solid 2px #7570d6;
    background-color: #fff;
    position: relative;
    left: 380px;
    margin: 20px;
    padding: 25px;
}
span {
    position: relative;
    bottom: 10px;
    margin: 50px;

}
span {
    padding-left: 15px;;
}

label {
    width: 207.9px;
    height: 24px;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: bold;
    color:343643;
    white-space: nowrap;
}
input:checked {
    color: #7570d6 ;
}

.uk-radio {
    border-radius: 4px;
    height: 20px;
    width: 20px;
    position: absolute;;
    left:55px;
    top: 35px;
    
}
.uk-checkbox {
    margin-right: 20px;
    border-radius: 3px;
}
.spn {
    position: relative;
     bottom:0px;
}
a {
    text-decoration: none;
    text-align: center;
    position: relative;
    top: 20px;
}

.btnv {
    position: relative;
    top: 170px;
    left: 20px;
    width: 274px;
    height: 56px;
    border-radius: 6px;
    background-color: #7570d6;
    color: white;
}

.txts {
    text-align: center;
    position: relative;
    top: 13px;
    
}
.pcast {
    width: 246px;
    height: 30px;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: #a3a6ba;
    position: relative;
    top: 170px;
    left: 460px;
}

.plogo {
    width: 195px;
    height: 22px;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #a3a6ba;
    position: relative;
    top: 290px;
    left: 410px;
    white-space: nowrap;
}

.logo3 {
    position: relative;
    top: 240px;
    padding-left: 260px;
    
}
.form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 32px 60px 38px 32px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
    width: 555px;
    // height: 100%;
    border-radius: 16px;
    margin: 0 auto;
}

.word {
    margin: 0 auto;
    width: 435px;
    height: 28px;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: bold;
    letter-spacing: normal;
    color: #343643;
    text-align: center;
}

.resendemail{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.resendemail button {
    
  color: #fff;
  border: 2px solid #fff;
  padding: 8px 0px;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  width: 160px;
  height: 48px;
  border-radius: 6px;
  background-color: #7570d6;
  margin-top: 56px;
  font-family: "Open sans";
  font-size: 16px;
  font-weight: bold;
  
}
  
.resendemail button:hover {
  color: #7570d6;
  background-color: #fff;
  border: 2px solid #7570d6;
}
  