<div class="container-class">
  <ng-container *ngIf='votesList && votesList.length>0;else emptyList'>

    <div class="poll">
      <div class="our-work">
        <div class="card-vote" *ngFor='let vote of votesList'>
          <div class="infoPoll">
            <p class="durationPoll">{{getExpireDate(vote.endDate)}}</p>
            <p class="namePoll">{{vote.title}}</p>
          </div>
          <button *ngIf='!vote.isPrivate;else private' class="vote" routerLink='/vote/result/{{vote._id}}'>Manage
            Poll</button>
          <ng-template #private>
            <button class="vote" routerLink='/pvote/result/{{vote._id}}'>Manage Poll</button>
          </ng-template>
        </div>
      </div>
    </div>

  </ng-container>
  <ng-template #emptyList>
    <h1 class='poll'>You haven't voted for any poll yet, <strong> <a href='' routerLink=''> Explore active
          polls</a></strong></h1>
  </ng-template>
</div>