<div class="body">
  <p class="set">Settings</p>
  <div class="form-wrapper">
    <form [formGroup]='editProfileForm' (submit)=saveChanges()>
      <div class="name">
        <label htmlFor="name" class="labelform">NAME</label><br>
        <input class="inputform" placeholder="Name" type="Name" name="Name" formControlName='name'>
      </div>
      <div class="email">
        <label htmlFor="email" class="labelform">EMAIL</label><br>
        <input class="inputform" placeholder="Email" type="email" name="email" formControlName='email'>
      </div>

      <div class="savechange">
        <div id='edit-profile-valid' class="valid-feedback">Your data has been saved</div>
        <button type="submit" class="btn">Save Changes</button>
      </div>
    </form>


  </div>
  <div class="wrapper">
    <p class="pass">PASSWORD</p>
    <a class="changepass" uk-toggle="target: #change-modal">Change password</a>
  </div>
  <div>



    <!--model-->
    <div uk-modal id="change-modal">
      <div class="form-wrapper">
        <img src="../../assets/ic-close.svg" class="ic-close uk-modal-close">

        <div class="Newpass">
          <p class="word">Change Your Password</p>
        </div>

        <form class='form-class' [formGroup]='changePasswordForm' (submit)=changePassword()>
          <div class="pass13">
            <label htmlFor="Password" class="passlab">OLD PASSWORD</label>
            <input  class="passinput requird-input" formControlName='oldPassword' placeholder=""
              type="password" name="password" (change)='onTextChange($event)'>
            <div id='OldPassowordFeedback' class="invalid-feedback">This feild is required</div>
          </div>

          <div class="pass11">
            <label htmlFor="Password" class="passlab">NEW PASSWORD</label>
            <input  class="passinput requird-input" id='password-reset' (change)='onPasswordChange($event)'
              formControlName='newPassword' placeholder="" type="password" name="password">
            <div id='newPassowordFeedback' class="invalid-feedback"></div>

          </div>

          <div class="passdiv">
            <label htmlFor="password1" class="passlab">CONFIRM PASSWORD</label><br>
            <input class="passinput requird-input" id='confirm-reset-password' formControlName='newPasswordConfirm'
              (change)='onPasswordConfirmChange($event)' placeholder="" type="password" name="password1">
            <div id='passowordConfirmFeedback' class="invalid-feedback"></div>
          </div>

          <div class="savepass">
            <button type="submit" class="btn">Save Changes</button>
            <div class="invalid-feedback" id='change-password-feedback'></div>
          </div>

          <p class="cancel  uk-modal-close">Cancel</p>

        </form>
      </div>
    </div>
