.body {
  
    flex-direction: column;
    width: 1440px;
    height: 1000px;
    background-color:#f0f1f7 !important;
  }
  
  .form-wrapper {
    
    display: flex;
    flex-direction: column;
    padding: 32px 60px 38px 32px;
    border-radius: 10px;
    background-color: #ffffff;
    width: 555px;
    // height: 376px;
    border-radius: 16px;
    margin-left: 442px;
    margin-top: 179px;
  
  }

.wrapper{
    width: 555px;
    height: 111px;
    border-radius: 6px;
    box-shadow: 0 1px 15px 0 var(--charcoal-grey-8);
    background-color: #ffffff;
    margin-left: 442px;
    margin-top: 32px;
    display: block;
  }
  
.set{
    width: 110px;
    height: 33px;
    font-family: 'Open sans';
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #343643;
    margin-left: 665px;
    padding-top: 118px;
}

.labelform{
    width: 35px;
    height: 15px;
    font-family: 'Open sans';
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #a3a6ba;
}
  

.inputform {
    width: 400px;
    height: 22px;
    font-family: 'Open sans';
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #343643;
    border: none;
    border-color: transparent;
    margin-top: 10px;
    border-bottom: 0.8px solid #a3a6ba ; 
  
    
  }
  
  .inputform::placeholder {
    
    font-weight: lighter;
    color: #999;
    padding: 2px 2px 2px 2px;
    margin-left: 2px;
  }

  
  

  .savechange{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .savechange button {
    
    color: #fff;
    border: 2px solid #fff;
    padding: 8px 0px;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
    width: 160px;
    height: 48px;
    border-radius: 6px;
    background-color: #7570d6;
    margin-top: 54px;
    font-family: "Open sans";
    font-size: 16px;
    font-weight: bold;
    outline: none;
  }
  
  .savechange button:hover {
    color: #7570d6;
    background-color: #fff;
    border: 2px solid #7570d6;
  }
  
 
  .form-class{
    // padding-top: 44px;
    padding-left: 60px;
  }
  
.email{
    margin-top: 44px;
}

.pass{
    width: 70px;
    height: 15px;
    font-family: 'Open sans';
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #a3a6ba;
    margin-left: 61px;
    padding-top: 32px;
    padding-bottom: 10px;
    
   
   
}

.changepass{

    padding-bottom: 32px;
    margin-left: 61px;
    width: 435px;
    height: 22px;
    font-family: 'Open sans';
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #343643;
}
  



// change



.pass13{
    margin-top: 70px;
  }
  

  .passlab {
    // width: 37px;
    height: 15px;
    font-family: 'Open sans';
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #a3a6ba;
    padding-bottom: 10px;
  }
  

  .passinput{
    width: 400px;
    height: 22px;
    font-family: 'Open sans';
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #343643;
    border: none;
    border-color: transparent;
    margin-top: 10px;
    border-bottom: 0.8px solid #a3a6ba ; 
    outline: none;
  }
  
  
.passinput::placeholder {
    
    font-weight: lighter;
    color: #999;
    padding: 2px 2px 2px 2px;
    margin-left: 2px;
  }
  .passinput::placeholder {
    
    font-weight: lighter;
    color: #999;
    padding: 2px 2px 2px 2px;
    margin-left: 2px;
  }
  
  .savepass{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .savepass button {
    
    color: #fff;
    border: 2px solid #fff;
    padding: 8px 0px;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
    width: 160px;
    height: 48px;
    border-radius: 6px;
    background-color: #7570d6;
    margin-top: 56px;
    font-family: 'Open sans';
    font-size: 16px;
    font-weight: bold;

    
  }
  
  .savepass button:hover {
    color: #7570d6;
    background-color: #fff;
    border: 2px solid #7570d6;
  }
  
 
  form{
    // padding-top: 44px;
    padding-left: 60px;
  }
  
  .password{
    padding-bottom: 44px;
  }
  
  .word{
    // margin: 0 auto;
    // width: 435px;
    // height: 28px;
    font-family:  'Open sans';
    font-size: 24px;
    font-weight: bold;
    letter-spacing: normal;
    color: #343643;
    text-align: center;
    
  }
 
  .ic-close{
    margin-left: auto;
    cursor: pointer;
    
  
  }
.fa{
	font-size: 20px;
	color: #7a797e;
}
.passdiv{
  margin-top: 44px;

}
.pass11{
  margin-top: 44px;
}
.cancel{
  width: 357px;
  height: 20px;
  font-family: 'Open sans';
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #7f5fcb;
  margin-left: 22px;
  margin-top: 32px;
}

.cancel:hover{
  cursor: pointer;
}


  
  