<!-- responsible for Back Button and title and chart  -->
<div class="chart-container">
    <div class="backButton" (click)='backClicked()'>
        < Back</div>
            <div id="title" *ngIf='voteDetails'>{{voteDetails.title}}</div>
            <canvas id="chartCanvas"></canvas>

            <!-- responsible for popUp and conent of it  -->
            <div class="stoping" *ngIf='voteDetails'>
                <div class="displayPopUP" (click)='openPopUP()' *ngIf='stopPollAvalible()'>
                    <div class="imageStop"><img src="../../assets/ic-stop.svg"></div>
                    <div class="textStop">Stop Poll</div>
                </div>
                <p>{{getExpireDate(voteDetails.endDate)}}</p>
            </div>
            <div *ngIf='isOwner'>
                <p *ngIf='voteDetails.isPrivate;else public'>
                    Vote access: Private
                    <br>
                    Vote Link : http://localhost:4200/pvote/cast/{{voteDetails.privateLink}}
                </p>
                <ng-template #public>
                    <p>
                        Vote access: Public
                    </p>
                </ng-template>
            </div>
            <!-- responsible for popUP when it open  -->
            <div id="myModal" class="modal" (click)='closeOutsidePopUp()'>
                <div class="modal-content">
                    <span class="close" (click)='closePopUP()'><img src="../../assets/ic-close.svg"></span>
                    <div class="cont">
                        <img src="../../assets/ic-logo.svg">
                        <h2>Stop Poll?</h2>
                        <p>No one will have the option to vote after stopping the poll.<br>
                            Results will remain visible for everyone with access.</p>
                        <div class="twoButton">
                            <button class="backButton">Back</button>
                            <button class="stopButton" (click)='stopPoll()'>Stop Poll</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- responsible for social sharing -->
            <div class="sharePoll">Share Poll. Spread the word.</div>

            <div class="sharing">
                <div class="imageShare"><img src="../../assets/ic-url.svg"></div>
                <div class="textShare"><a (click)='copyURL()'>Copy Link</a></div>
            </div>

            <!-- <div class="sharing2">
          <div class="imageShare"><img src="../../assets/ic-fb.svg"></div>
          <div class="textShare">Share to Facebook</div>
        </div> -->
    </div>

    <div uk-modal id="not-voted-modal">
        <div class="modal-body">
            <div class="form-wrapper">
                <div>
                    <p class="word">You need to vote to see this vote result</p>
                </div>
                <div class="resendemail">
                    <button type="send" class="btn" routerLink='/vote/cast/{{voteId}}'
                        uk-toggle="target: #not-voted-modal">Go to
                        cast vote</button>
                </div>
            </div>
        </div>
    </div>