 
  .backButton{
    width: 100px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.56;
    letter-spacing: normal;
    color: darkgray;
    // margin-top: 60px;
    margin-bottom: 24px;
    cursor: pointer;
    outline: none;
  }
  
  #title{
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: normal;
    color: #343643;
    margin-bottom: 50px;
  }
  
  /*******************************************/
  .chart-container{
    width: 35%;
    height: 100%;
    margin: 100px 475px;
  font-family: "Open sans";

      /* margin-left: 405px; */
  }
  
  // .an{
  //   margin: 100px 475px;
  // }
  

  .stoping{
      // overflow: hidden;
      margin-top: 175px;
      // margin-left: 240px;
      text-align: center;
  }
  .displayPopUP{
      overflow: hidden;
      // width: 120px;
      height: 28px;
      // background-color: red;
      cursor: pointer;
      padding-left: 187px;
  }
  .imageStop{
    float: left;
  }
  
  .textStop{
    float: left;
    font-size: 18px;
    font-weight: 500;
    color: #d82b2b;
    padding-left: 12px;
    padding-top: 3px;

  }
  
  .sharePoll{
    margin-top: 57px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: darkgray;
    margin-bottom: 7px;
    margin-left: 40px;
  }
  
  .sharing{
    overflow: hidden;
    padding-left: 140px;
    padding-top: 22px;
    margin-left: 30px;
  }
  
  .sharing2{
    overflow: hidden;
    padding-left: 140px;
    padding-top: 22px;
    margin-left: 30px;
    margin-bottom: 100px;
  }
  .imageShare{
    float: left;
  }
  
  .textShare{
    float: left;
    font-size: 18px;
    font-weight: 500;
    color: #343643;
    padding-left:12px ;
    padding-top: 3px;
    
  }
  .underdevelopment {
      background-color: #7f5fcb;
      overflow: hidden;
      white-space: nowrap;
      position: absolute;
      left: -50px;
      top: 40px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-box-shadow: 0 0 10px #888;
      -moz-box-shadow: 0 0 10px #888;
      box-shadow: 0 0 10px #888;
    }
    .underdevelopment a {
      border: 1px solid #313153;
      color: #fff;
      font: bold 100% 'Helvetica Neue', Helvetica, Arial, sans-serif;
      display: block;
      margin: 1px 0;
      padding: 10px 50px;
      text-align: center;
      text-decoration: none;
      text-shadow: 0 0 5px #444;
      cursor: default;
    }




    
.modal {
  display: none; 
  position: fixed; 
  z-index: 2; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}


.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  border-radius: 16px;
  width: 555px;
  height: 409px;
}

.cont{
    text-align: center;
}

.cont h2{
    margin: 0px;
    margin-top: 16px;
}

.cont p{
    font-size: 16px;
    color: #a3a6ba;
    margin-top: 9px;
}

.twoButton{
    overflow: hidden;
    margin-top: 60px;
    
}

.cont .backButton{
  float: left;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #7570d6;
  background: none;
  border: none;
  margin-left: 147px;
  margin-top: 13px;
  cursor: pointer;
  outline: none;
}

.cont .stopButton{
  border-radius: 6px;
  background-color: #d82b2b;
  border: none;
  width: 132px;
  height: 44px;
  cursor: pointer;
outline: none;
}

.close {
  color: #aaaaaa;
  font-size: 45px;
  margin: 16px;
  margin-left: 500px;
}

.close:hover,.close:focus {
  cursor: pointer;
}
.form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 32px 60px 38px 32px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
    width: 555px;
    // height: 100%;
    border-radius: 16px;
    margin: 0 auto;
}

.word {
    margin: 0 auto;
    width: 435px;
    height: 28px;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: bold;
    letter-spacing: normal;
    color: #343643;
    text-align: center;
}

.resendemail{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.resendemail button {
    
  color: #fff;
  border: 2px solid #fff;
  padding: 8px 0px;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  width: 160px;
  height: 48px;
  border-radius: 6px;
  background-color: #7570d6;
  margin-top: 56px;
  font-family: "Open sans";
  font-size: 16px;
  font-weight: bold;
  
}
  
.resendemail button:hover {
  color: #7570d6;
  background-color: #fff;
  border: 2px solid #7570d6;
}
  
.access{
  text-align: center;
}




  
/*************************************************************************/
@media (max-width:767px){ /* mobile and tablet rules*/
  .chart-container {
    width:  80%;
    height: 480px;
    margin: 100px auto;
  }

  .displayPopUP{
    overflow: hidden;
      height: 28px;
      cursor: pointer;
      padding-left: 111px;
  }  
  
  .sharing{
    overflow: hidden;
    padding-left: 75px;
    padding-top: 22px;
    margin-left: 30px;
  }
} 




@media (min-width:768px){ /*small screen rules*/
  .chart-container {
    width:  80%;
    height: 480px;
    margin: 100px auto;
  }
.displayPopUP{
  overflow: hidden;
    height: 28px;
    cursor: pointer;
    padding-left: 270px;
}  

.sharing{
  overflow: hidden;
  padding-left: 233px;
  padding-top: 22px;
  margin-left: 30px;
}

}




@media (min-width:992px){/*medium screen rules*/

  .chart-container {
    width:  80%;
    height: 480px;
    margin: 100px auto;
  }

  .displayPopUP{
    overflow: hidden;
    height: 28px;
    cursor: pointer;
    padding-left: 347px;
  }

  .sharing{
    overflow: hidden;
    padding-left: 313px;
    padding-top: 22px;
    margin-left: 30px;
  }
} 


@media (min-width:1200px){/*large screen rules*/
  .chart-container{
    width: 35%;
    height: 100%;
    margin: 100px 475px;
  font-family: "Open sans";

      /* margin-left: 405px; */
  }

  .displayPopUP{
    overflow: hidden;
    // width: 120px;
    height: 28px;
    // background-color: red;
    cursor: pointer;
    padding-left: 187px;
}

.sharing{
  overflow: hidden;
  padding-left: 140px;
  padding-top: 22px;
  margin-left: 30px;
}

}


  /***********************************************************************/