<div class="contribute">
  <div class="container-class">
    <ng-container *ngIf='votesList && votesList.length>0;else emptyList'>
      <div class="count">
        <p>{{votesList.length}} polls</p>
      </div>
      <div class="poll">
        <div class="our-work">
          <div class="card-vote" *ngFor='let vote of votesList'>
            <div class="infoPoll">
              <p class="durationPoll">{{getExpireDate(vote.endDate)}}</p>
              <p class="namePoll">{{vote.title}}</p>
            </div>
            <button class="vote" *ngIf='!vote.isPrivate;else public' routerLink='/vote/result/{{vote._id}}'>Manage
              Poll</button>
            <ng-template #public>
              <button class="vote" routerLink='/pvote/result/{{vote._id}}'>Manage Poll</button>
            </ng-template>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #emptyList>
      <h1 class='poll'>You haven't created any poll, <strong> <a href='' routerLink='/vote/create'> Create
            one</a></strong></h1>
    </ng-template>
  </div>
</div>