// .container-class{
// 	width: 1200px;
// 	margin: auto;
// }
.count{
  margin-left: 33px;
}
.contribute .count p{
    // width: 281px;
  // height: 28px;
  font-family: "Open sans";

  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #343643;
  margin: 70px 0 32px 0px;
}

.poll{
  
  margin-top: 71px;
  font-family: "Open sans";
 margin-left: 33px;

}

.poll .our-work{
     overflow: hidden; // change
  font-family: "Open sans";

}

// .poll .card-vote{
//     background-color: #ffffff;
//     float: left;
//     width: 31.333333%; //31.33333333333333%
//     margin-bottom: 39px;
//      margin-right: 22px; //chabge
//      border: 1px solid #e0e0e9;
//      border-radius: 4px;
    
// }



.poll .card-vote .infoPoll{
  margin-left: 38px;
  font-family: "Open sans";

  }
  
  .poll .card-vote .infoPoll .durationPoll{
  width: 281px;
  height: 28px;
  /* font-family: HelveticaNeue; */
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #a3a6ba;
  margin: 38px 38px 8px 0px;
  font-family: "Open sans";

  }
  
  .poll .card-vote .infoPoll .namePoll{
  width: 281px;
  height: 56px;
  /* font-family: HelveticaNeue; */
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #343643;
  font-family: "Open sans";

  }
  
  .poll .card-vote  hr{
  margin: 20px 0;
  background-color: #999;
  height: 1px;
  border: 0;
  font-family: "Open sans";
  
  }
  
  .poll .card-vote  .vote{
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #7f5fcb;
  background: none;
  margin-top: 98px;
  border: 1px solid #e0e0e9;
  border-left-style:none ;
  border-right-style: none;
  border-bottom-style: none;;
  padding: 16px;
  font-family: "Open sans";
  outline: none;
  }
 

/*
@media (max-width:767px){ // mobile and tablet rules
    
  .container-class{
    // width: 405px;
    margin: auto;
  }
  .poll .card-vote{
    // background-color: red;
     width: 100%;
    margin-bottom: 39px;
    //  margin-right: 22px; 
     border: 1px solid #e0e0e9;
     border-radius: 4px;
    
}

} 




@media (min-width:768px){ //small screen rules
 
  .container-class{
    //width: 768px px;
    width: 744px;

    margin: auto;
  }
  .poll .card-vote{
    // background-color: blue;
    float: left;
     width: 50%; 
    margin-bottom: 39px;
     //margin-right: 14px; 
     border: 1px solid #e0e0e9;
     border-radius: 4px;
    
  }
 
    
}




@media (min-width:992px){//medium screen rules
  
  .container-class{
    width: 992px;
    margin: auto;
  }

  .poll .card-vote{
    // background-color: yellow;
    float: left;
     width: 33.333%; 
    margin-bottom: 39px;
     //margin-right: 22px; 
     border: 1px solid #e0e0e9;
     border-radius: 4px;
    
  }
  
 
} 


@media (min-width:1200px){//large screen rules
 
  .container-class{
    width: 1200px;
    margin: auto;
  }

  .poll{
  
    margin-top: 71px;
    font-family: "Open sans";
    margin-left: 33px;
  
  }

  .poll .card-vote{
    // background-color: yellow;
    float: left;
     width: 31.333333%; //31.33333333333333%
    margin-bottom: 39px;
     margin-right: 22px; 
     border: 1px solid #e0e0e9;
     border-radius: 4px;
    
  }
  
  

} 
*/




@media (max-width:767px){ /* mobile and tablet rules*/
  .poll{
    margin-left: 5px;
  }
.container-class{
  // width: 405px;
  margin: auto;
}
.poll .card-vote{
  // background-color: red;
  //  width: 100%;
  margin-bottom: 39px;
  //  margin-right: 22px; 
   border: 1px solid #e0e0e9;
   border-radius: 4px;
  margin-right: 5px;
}

} 




@media (min-width:768px){ /*small screen rules*/

.container-class{
  //width: 768px px;
  width: 744px;

  margin: auto;
}
.poll .card-vote{
  // background-color: blue;
  float: left;
  //  width: 50%; 
  width: 45%;
  margin-bottom: 39px;
   //margin-right: 14px; 
   border: 1px solid #e0e0e9;
   border-radius: 4px;
  margin-right: 5px;
}

  
}




@media (min-width:992px){/*medium screen rules*/

.container-class{
  width: 992px;
  margin: auto;
}

.poll .card-vote{
  // background-color: yellow;
  float: left;
  //  width: 33.333%; 
  width: 32%;
  margin-right: 5px;
  margin-bottom: 39px;
   //margin-right: 22px; 
   border: 1px solid #e0e0e9;
   border-radius: 4px;
  
}


} 


@media (min-width:1200px){/*large screen rules*/

.container-class{
  width: 1200px;
  margin: auto;
}

.poll .card-vote{
  // background-color: yellow;
  float: left;
  //  width: 31.333333%; //31.33333333333333%
  margin-bottom: 39px;
   border: 1px solid #e0e0e9;
   border-radius: 4px;
  width: 32.33333333333%;
  margin-right: 10px;
}



}



