.full-page {
  background-color: #f0f1f7;
  z-index: 2;
}
h2 {
  font-family: "Open Sans";
  font-weight: bold;
}
.heading {
  margin-top: 61px;
  margin-bottom: 15px;
  white-space: nowrap;
  width: 216px;
  height: 33px;
  font-size: 28px;
  color: #343643;
}

.card {
  padding: 5vw;
  box-shadow: 0px 1px 15px 0 rgba($color: #36454f, $alpha: 0.09);
}

.text-muted {
  text-transform: uppercase;
  color: #c4c7dd !important;
}

.poll-title {
  font-size: 25px;
  font-weight: 700;
}

.form-control {
  border: none;
  border-bottom: 1px solid #c6c9de;
  border-radius: 0;
  color: #343643;
  padding: 0;
}

.custom-file-label {
  font-size: 25px;
  font-weight: 700;
  color: #c4c7dd;
  width: 30px;
  border: none;
  border-radius: 0;
  padding: 0;
  margin-left: 850px;
  margin-top: 35px;

  span {
    margin-left: -1.3rem;
    color: #c6c9de;
    font-weight: 500;

    &:before {
      counter-increment: option;
      content: counter(option);
    }
  }
  &::placeholder {
    color: #a3a6ba;
  }
}
#fixImage2 {
  position: absolute;
  left: 840px;
  bottom: 48px;
  top: 43px;
}

.editRemove{
  position: absolute;
left: 833px;
top: -13px;
box-shadow: 4px 3px 7px 0 rgba(0, 0, 0, 0.5);
width: 20px;
height: 20px;
text-align: center;
border-radius: 50%;
z-index: 2;
background: #fff;

}

.editRemove a{
  color: #e50829;
  font-size: 13px;
  display: block;
  // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.editCustomeFile{
  height: 100px;//editG
}

.editAddOption{
  outline: none;
}

.customeSM{
  margin-top: 40px;
}

.customeSM1{
  margin-left: 5px;
  margin-right: 70px;
}

.customesend{
  margin-left: 60px;
}
.custom-file-input {
  position: relative;
  z-index: 2;
  height: calc(1.5em + 0.75rem + 2px);
  
  margin: 0;
  opacity: 0;
  width: 30px;
  right: 50px;
}
.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "";
}

.custom-file-label::after {
  background-image: url(../../assets/ic-addphoto3x.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.file-input {
  background-image: url(../../assets/ic-addphoto3x.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
}

span::before {
  position: relative;
  right: 870px;
  top: 19px;
}

input[type="file"] {
  display: none;
}

#fixImage {
  background-image: url(../../assets/ic-addphoto.png);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  position: relative;
  left: 820px;
  // bottom: 30px;
  bottom: 30px;
  top: 60px;
}

.vote-image {
  width: 44px;
  height: 44px;
  border-radius: 4px;

  position: absolute;//editG
  left: 800px;//editG
}

.add-option {
  background: transparent;
  border: none;
  display: block;
  color: #8465cd;
  font-weight: 500;

  span {
    font-weight: 400;
    font-size: 25px;
  }
}

.ph1 {
  position: relative;
  top: 8px;
}
.ph2 {
  position: relative;
  top: 8px;
}

.boxs-wrapper {
  display: flex;
  align-items: center;

  .form-check {
    width: 159px;
    height: 178px;
    border: 1px solid #c6c9de;
    border-radius: 8px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    padding: 0;

    img {
      width: 60%;
    }

    .form-check-input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
    }

    .form-check-label {
      font-weight: 700;
      font-size: 18px;
    }

    .text-muted {
      text-transform: none;
      font-size: 14px;
    }
  }

  .form-check.active {
    border: 1px solid #8465cd;
  }
}

.datepicker-form {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    right: 0;
    width: 20px;
    background-image: url(../../assets/ic-date3x.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.white-box {
  background-color: white;
  box-shadow: 0px 1px 15px 0 rgba($color: #36454f, $alpha: 0.09);
}


@media (max-width:767px){ /* mobile and tablet rules*/
  

#fixImage {
  background-image: url(../../assets/ic-addphoto.png);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  position: relative;
  left: 265px;
  // bottom: 30px;
  bottom: 30px;
  top: 60px;
}
 
.editRemove{
  position: absolute;
left: 280px;
top: -13px;
box-shadow: 4px 3px 7px 0 rgba(0, 0, 0, 0.5);
width: 20px;
height: 20px;
text-align: center;
border-radius: 50%;
z-index: 2;
background: #fff;

}

.vote-image {
  width: 44px;
  height: 44px;
  border-radius: 4px;

  position: absolute;//editG
  left: 245px;//editG
}

#fixImage2 {
  position: relative;
  left: 273px;
  bottom: 48px;
  top: 43px;
}

} 




@media (min-width:768px){ /*small screen rules*/


#fixImage {
  background-image: url(../../assets/ic-addphoto.png);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  position: relative;
  left: 530px;
  // bottom: 30px;
  bottom: 30px;
  top: 60px;
}
 
.editRemove{
  position: absolute;
left: 550px;
top: -13px;
box-shadow: 4px 3px 7px 0 rgba(0, 0, 0, 0.5);
width: 20px;
height: 20px;
text-align: center;
border-radius: 50%;
z-index: 2;
background: #fff;

}

.vote-image {
  width: 44px;
  height: 44px;
  border-radius: 4px;

  position: absolute;//editG
  left: 515px;//editG
}
#fixImage2 {
  position: relative;
  left: 541px;
  bottom: 31px;
  top: 41px;
}

}




@media (min-width:992px){/*medium screen rules*/


#fixImage {
background-image: url(../../assets/ic-addphoto.png);
display: inline-block;
padding: 6px 12px;
cursor: pointer;
height: 24px;
width: 24px;
background-repeat: no-repeat;
position: absolute;
left: 735px;
// bottom: 30px;
bottom: 40px;
top: 22px;
}

.editRemove{
  position: absolute;
left: 770px;
top: -13px;
box-shadow: 4px 3px 7px 0 rgba(0, 0, 0, 0.5);
width: 20px;
height: 20px;
text-align: center;
border-radius: 50%;
z-index: 2;
background: #fff;

}

.vote-image {
  width: 44px;
  height: 44px;
  border-radius: 4px;

  position: absolute;//editG
  left: 735px;//editG
}

#fixImage2 {
  position: absolute;
  left: 768px;
  bottom: 48px;
  top: 18px;
}

} 

@media (min-width:1200px){/*large screen rules*/

  #fixImage {
    background-image: url(../../assets/ic-addphoto.png);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    position: relative;
    left: 875px;
    // bottom: 30px;
    bottom: 30px;
    top: 60px;
  }
  

  
.editRemove{
  position: absolute;
left: 885px;
top: -13px;
box-shadow: 4px 3px 7px 0 rgba(0, 0, 0, 0.5);
width: 20px;
height: 20px;
text-align: center;
border-radius: 50%;
z-index: 2;
background: #fff;

}

.vote-image {
  width: 44px;
  height: 44px;
  border-radius: 4px;

  position: absolute;//editG
  left: 855px;//editG
}

#fixImage2 {
  position: absolute;
  left: 904px;
  bottom: 48px;
  top: 54px;
}

}