<div class='full-page'>
    <form [formGroup]='createVoteForm' (submit)='createVote()'>
        <div class="container py-5">
            <div class="row">
                <div class="col-xl-12">
                    <h2 class="heading">Create New Poll</h2>
                    <div class="card">
                        <div class="card-body">
                            <p class="text-muted">Title</p>
                            <div class="form-group">
                                <input type="text" class="form-control poll-title" placeholder="Enter poll title"
                                    (change)='onTextChange($event)' formControlName='title'>
                                <div class='invalid-feedback'>This feild is required</div>
                            </div>
                            <p class="text-muted">Options</p>
                            <div class="editCustomeFile custom-file "
                                *ngFor="let  option of createVoteForm.controls.options.controls;let i=index">

                                <label class="photo" id="fixImage"
                                    *ngIf='!createVoteForm.controls["optionsImages"].value[i];else img'>
                                    <input type="file" class="" id="" (change)='fileUploads($event,i)' />
                                </label>
                                
                                <a class="delete" id="fixImage2" (click)=deleteOption(i) *ngIf="i>1">
                                    <img src="../../assets/delete.png" />
                                </a>
                               
                                <input type="text" class="form-control poll-title option-input"
                                    placeholder="Enter option" (change)='onTextChange($event)'
                                    (change)='addOptionText(i,$event)'/>
                                   
                                    <ng-template #img>
                                        <div class='editRemove' (click)='deleteImage(i)'><a>x</a></div>
                                        <img class='vote-image' *ngIf='createVoteForm.controls["optionsImages"].value[i]'
                                            [src]='createVoteForm.controls["optionsImages"].value[i].value'>
                                    </ng-template>
                                    <div class='invalid-feedback'>This feild is required</div>
                            </div>
                            <button class="text-primary add-option my-5" type='button' (click)='addOption()'><span>+</span> Add
                                Option</button>
                            <p class="text-muted">Access</p>
                            <div class="boxs-wrapper">
                                <div class="form-check active">
                                    <img class="ph1" src="../../assets/ic-public-non3x.png" alt="">
                                    <input class="form-check-input" type="radio" name="isPublic" value="true"
                                        formControlName='isPublic' (click)='changePublicStatus($event)'>
                                    <label class="form-check-label" for="exampleRadios1">
                                        Public
                                    </label>
                                    <p class="text-muted">Anyone can vote</p>
                                </div>
                                <div class="form-check">
                                    <img class="ph2" src="../../assets/ic-private-non3x.png" alt="">
                                    <input class="form-check-input" type="radio" name="isPublic" value="false"
                                        formControlName='isPublic' (click)='changePublicStatus($event)'>
                                    <label class="form-check-label" for="exampleRadios2">
                                        Private
                                    </label>
                                    <p class="text-muted">Only with link</p>
                                </div>
                            </div>

                            <div class="customeSM">
                            <label>Single Selection</label>
                            <input type='radio' class='uk-radio customeSM1' name='isMulti' value='false' formControlName='isMulti'>
                        
                            <label>Multible Selection</label>
                            <input type='radio' class='uk-radio customeSM1' name='isMulti' value='true' formControlName='isMulti'>
                            </div>    

                            <p class="text-muted mt-5">Operation dates</p>
                            <div class="row">
                                <div class="col-xl-3">
                                    <form class="datepicker-form">
                                        <input id="startDate" class="datepicker form-control" type="text"
                                            placeholder="Start Date">
                                        <div class='invalid-feedback'>This feild is required</div>

                                    </form>
                                </div>
                                <div class="col-xl-3">
                                    <form class="datepicker-form">
                                        <input id="endDate" class="datepicker form-control" type="text"
                                            placeholder="End Date">
                                        <div class='invalid-feedback'>This feild is required</div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="white-box">
            <div class="container">
                <button type="submit" class="btn btn-primary my-5 "><img src="../../assets/send.svg" alt="">
                    Publish poll</button>
                    <div class="invalid-feedback" id='form-invalid-feedback'></div>
            </div>
        </div>
    </form>
</div>


<div id="confirm-modal" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical">
        <div class="modal-body">
            <strong>Your vote was created successufly</strong>

            <div class="private-link" style='display :none;'>
                <label class='form-check-label'>Private link for your vote</label>
                <a id='private-text'></a>
                <button class='btn btn-primary' (click)='copyToClipboard()'>Copy</button>
            </div>
            <button class='btn btn-primary uk-modal-close customesend' routerLink=''>Go to Home</button>
        </div>
    </div>
</div>