<div id="navbar">
  <div class="container-class">
    <div id="image" routerLink=''>
      <a routerLink=''>
      <img src="../../assets/logo.svg">
      </a>
    </div>
    
    <!-- toggle switch between screen and other screen -->
    <div class="link">
      <div class="toggle" (click)='switch()'>
        <div id="menu"><img src="../../assets/bars.svg" width="30px" height="30px"></div>
      </div>
      <ul id="largeTwoMobile">
        <li class="header-li  explore"><a routerLink='' href="#"><span>Explore</span></a></li>
        <li *ngIf='loggedUserToken' class='header-li my-polls '><a routerLink='my-polls' href="#"><span>My
              Polls</span></a></li>
        <li class='header-li about'><a routerLink='about' href="#"><span>About</span></a></li>
      </ul>
    </div>
    
    <div class="btt" routerLink="vote/create"><button id="mybtt"> Create poll</button></div>
    <div class="bttLog" *ngIf='isLoggedIn();else dropDown'>
      <button id="mybtt" uk-toggle="target: #log-modal">
        <a href="">Login </a>
      </button>
    </div>

    <!--  Responsive two button -->
    <div class="responsive">
      <ul id="responsiveButton">
        <li ><a routerLink="vote/create" ><span>Create poll</span></a></li>
      </ul>
    </div>

    <!-- adding profile -->
    <ng-template #dropDown>
      <div id="dropdown" (click)='dropDownOpen()'>
        <img src="../../assets/user2.svg"/>
        <ul id="showORnot">
          <li><a routerLink='my-votes' href="">My Votes</a></li>
          <li><a routerLink='my-profile' href="">My profile</a></li>
          <li><a href="" (click)='logout()'>Logout</a></li>
        </ul>
      </div>
    </ng-template>
  </div>
</div>


<!-- Login Modal   -->
<!-- <div class="modal" id="log-modal" data-backdrop="false" data-keyboard="false" > -->
<div id="log-modal" uk-modal>
  <!--model-->
  <div class="modal-body">
    <div class="form-wrapper">
      <div class="customixeImage">
        <img src="../../assets/ic-close.svg" class="ic-close uk-modal-close customeClose">
        <img src="../../assets/ic-logo.svg" alt="logo" class="ic-logo">
      </div>
     
        <div class="login">
        <p class="createNew">Log in into your account</p>
        <p class="joinUs">Log in to manage your polls</p>
      </div>

      <form [formGroup]='signInForm' (submit)='login()' class='form-class'>
        
        <div class="email">
          <label htmlFor="email" class='label-class'>EMAIL</label><br>
          <input (change)='onTextChange($event)'  type="email" name="email" formControlName="email"
            class='input-class'>
          <div class="invalid-feedback" id='email-feedback'>This feild is requried</div>
        </div>

        <div class="passwordLogIn">
          <label class='label-class' htmlFor="password">PASSWORD</label><br>
          <input (change)='onTextChange($event)'  type="password" name="password"
            class='input-class' formControlName="password">
          <div class="invalid-feedback" id='password-feedback'>This feild is requried</div>
        </div>

        <a href="" class="forget" uk-toggle="target: #forget1-modal">Forget?</a>
        <div class="createAccount ">
          <button type="submit" class="btn">Log In</button>
          <div class="invalid-feedback" id='login-feedback'></div>
          <small uk-toggle="target: #sign-up-modal" class="acc">Don't have an account? <a href="">Get One
              Now</a></small>
        </div>
      </form>
    </div>
  </div>

  <!-- signup -->

  <div uk-modal id="sign-up-modal">
    <div class="modal-body">
      <div class="form-wrapper">
        <div class="customixeImage">
          <img src="../../assets/ic-close.svg" class="ic-close uk-modal-close customeClose">
        <img src="../../assets/ic-logo.svg" alt="logo" class="ic-logo">

        </div>
        
        
          <div class="login">
          <p class="createNew">Create a new account</p>
          <p class="joinUs">join pollz to publish your poll</p>
        </div>

        <form [formGroup]='signUpForm' (submit)='signUp()' class='form-class'>

          <div class="name">
            <label class='label-class' htmlFor="name">NAME</label>
            <input  type="name" name="name" formControlName="name" class='signup-input input-class'
              (change)='onTextChange($event)'>
            <div class="invalid-feedback">This feild is requried</div>
          </div>

          <div class="email">
            <label class='label-class' htmlFor="email">EMAIL</label>
            <input type="email" name="email" formControlName="email" class='signup-input input-class email-sign-up'
              (change)='onTextChange($event)'>
            <div class="invalid-feedback">This feild is requried</div>
          </div>

          <div class="password">
            <label class='label-class' htmlFor="password">PASSWORD</label>
            <input type="password" name="password" formControlName="password" class='signup-input input-class'
              (change)='onTextChange($event)'>
            <div class="invalid-feedback">This feild is requried</div>
          </div>

          <div class="createAccount">
            <div class="invalid-feedback" id='sign-up-feedback'></div>
            <button type="submit" class="btn">Sign up</button>
            <small class="acc" uk-toggle="target: #log-modal">Already have an account? <a href="">Log in</a></small>
          </div>
        </form>
      </div>
    </div>




    <!-- ForgetPassword : Enter your email -->
    <div uk-modal id="forget1-modal">
      <div class="form-wrapper">
        <img src="../../assets/ic-close.svg" class="ic-close uk-modal-close">

        <div class="">
          <p class="word-reset">Reset Password</p>

        </div>

        <form class='form-class'>
          <div class="email">
            <label htmlFor="email" class="label-class">EMAIL</label>
            <input class="input-class" id="email"  type="email" name="email">
          </div>

          <div class="reset">
            <button (click)="resetSendEmail()" type="submit" uk-toggle="target: #forget3-modal"
              class="btn">Reset</button>
          </div>
          <div class="bb">
            <a href="" uk-toggle="target: #log-modal" class="back">Back To Login</a>
          </div>
        </form>
      </div>



      <!-- ForgetPassword : Enter new password -->
      <div uk-modal id="forget2-modal">
        <div class="modal-body">
          <div class="form-wrapper">
            <img src="../../assets/ic-close.svg" class="ic-close uk-modal-close">
            <div class="Newpass">
              <p class="word">Reset Your Password</p>
            </div>
            <form class="form-class" [formGroup]='resetPasswordForm' (submit)='resetPasswordSubmit()'>
              <div class="pass11">
                <label htmlFor="Password" class="passlab">NEW PASSWORD</label>
                <input id="reset-password" class="passinput" placeholder="Password" type="password" name="password"
                  formControlName='password' (change)='onPasswordChange($event)'>
                <div class="invalid-feedback">This feild is required</div>
                <span>
                  <i class="fa fa-eye" aria-hidden="true" id="eye"></i>
                </span>
              </div>
              <div class="passdiv">
                <label htmlFor="password1" class="passlab">CONFIRM PASSWORD</label><br>
                <input class="passinput" placeholder="Password" type="password" name="password1"
                  id="reset-password-confirm" formControlName='passwordConfirm'
                  (change)='onPasswordConfirmChange($event)'>
                <div class="invalid-feedback"></div>

              </div>
              <div class="savepass">
                <button type="submit" class="btn">Save Changes</button>
              </div>
              <p class="cancel">Cancel</p>
            </form>
          </div>

          <!-- ForgetPassword : check your inbox -->
          <div uk-modal id="forget3-modal">
            <div class="modal-body">
              <div class="form-wrapper">
                <img src="../../assets/ic-close.svg" class="ic-close uk-modal-close">
                <div>
                  <h1 class="customizeHeading">Please check your inbox</h1>
                  <p class="message">We send an email to xyz@gmail.com with<br>
                    a link to verify your identity. Click the link in the<br>
                    email to continue.</p>
                </div>
                <div class="resendemail">
                  <button type="send" class="btn" (click)='resetSendEmail()'>Resend Email</button>
                  <p class="cancel uk-modal-close">Cancel</p>
                </div>
              </div>
            </div>
          </div>