
// .container-class{
// 	width: 1200px;
// 	margin: auto;
// }

// .sticky {
//   position: fixed;
//   top: 0;
//   width: 100%;
// }


 #navbar{
    background:   #564A8B; /* #593b90;*/
    height: 57px;
    // overflow: hidden;   
    // position: relative;
    z-index: 99;
     position: fixed;
     width: 100%;
     top:0;
}



 #navbar #image{
    float: left;
    // display: inline-block;
    margin-top: 11px;
    margin-left: 33px;
}




 #navbar .link{
    float: left;
    // display: inline-block;
    margin-left: 22px;
    margin-right: 105px;

}


 #navbar .link ul{
	list-style: none;
	padding-left: 0px;
	// overflow: hidden;
  float: left;
  margin-top: 5px;
    // display: inline-block;
    width: 80%;
    margin-left: 115px;
}

 #navbar .link ul li {
	// float: left;
    padding:10px;
    display: inline-block;
}

 #navbar .link ul li  a{
	color: #a3a6ba;
    text-decoration: none;
    padding: 5px;
    opacity: 0.6;
    font-family:Helvetica;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;

    
}



 #navbar .link ul li   a:hover,
 #navbar .link ul li.active a
{
    color: #fff;
    /* text-decoration: underline; */
    opacity: 1.0;  
    display:inline-block;
    border-bottom:2px solid white;
    padding-bottom:13px; 
   
}

/******************************************/
#navbar .btt{
  float: left;
  margin-left: 170px;
  margin-top: 10px;
}

#navbar  #mybtt{
  width: 132px;
  height: 44px;
  background-color: #fff;
  color: #7570d6;
  font-weight: bold;
  /* padding: 14px 25px; */
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  /* margin-left: 590px; */
  border: 2px solid #fff;
  outline: none;
}

#navbar .bttLog{
  float: left;
  margin-left: 20px; 
  margin-top: 10px
}

.bttLog #mybtt a{
  color: #7570d6;
    text-decoration: none; 
}
/************************************************************************/

// profile




#navbar #dropdown {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  // float: left;
  margin-top: 20px;
  width: 25px;
  height: 25px
}



#navbar #dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* top:41px; */top: 27px;
  right:0px;
  width: 200px;
  background-color: white;
  font-weight:bold;
  position: absolute;
  display: none;     
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 107px;
  /* height: 120px; */
  left: -3px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

}


// #navbar #dropdown ul:before{
//     content:"";
//     position:absolute;
//     width:0px;
//     height:0px;
//     border: 10px solid;
//     border-color: transparent transparent white transparent;
//     // right:5px;
//     top:-15px;
// }

#navbar #dropdown li a {
  color: #343643;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
}
#navbar #dropdown li {
  /* padding: 8px 16px; */
  /* border-bottom: 1px solid #e5e5e5; */
  border-radius: 8px;
  padding: 16px 0px 20px 20px;
  
}


#navbar #dropdown li:hover {
  background-color: #e5e5e5;
}
 
// #navbar #dropdown:hover ul{
//   display: block;
// }

#navbar #dropdown #showORnot.dropdownshow{
  display: block;
}
/***********************************************/
//  Responsive two button 

#navbar .responsive{
  float: left;
  display: none;
  // display: inline-block;
  // margin-left: 22px;
  // margin-right: 105px;
}

#navbar .responsive ul{
	list-style: none;
	padding-left: 0px;
	// overflow: hidden;
  float: left;
    margin-top: 5px;
    // display: inline-block;
    width: 80%;
    margin-left: 115px;
}

 #navbar .responsive ul li {
	// float: left;
    padding:10px;
    display: inline-block;
}

 #navbar .responsive ul li  a{
	color: #a3a6ba;
    text-decoration: none;
    padding: 5px;
    opacity: 0.6;
    font-family:Helvetica;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;   
}

#navbar .responsive ul li   a:hover,
#navbar .responsive ul li.active a
{
    color: #fff;
    /* text-decoration: underline; */
    opacity: 1.0;  
    display:inline-block;
    border-bottom:2px solid white;
    padding-bottom:13px; 
   
}
/****************************************/

.toggle{
  display: none;
  // width: 100%;
  padding: 10px 20px;
  // background: #001f44;
  // text-align: right;
  box-sizing: border-box;
  // color: #fff;
  width: 65px;
  margin-left: 285px;
  cursor: pointer;
}
/******************************************/
/* mobile and tablet rules*/
@media (max-width:767px){ 
   
  .container-class{
    // width: 405px;
    margin: auto;
  }
  
  .toggle{
    display: block;
  }
   
  #navbar .link{
    float: none;
    margin-left: -46px;
    margin-right: 0px;
    width: 90%;
}

 #navbar .link ul{
  width: 111%;
  display: none;
  margin-left: 45px;
}

 #navbar .link ul li {
  display: block;
  text-align: center;
}

#navbar .link ul li   a:hover,
#navbar .link ul li.active a

{
    color: #fff;
    opacity: 1.0;  
    display:inline-block;
    border-bottom: none;
    padding-bottom:0px; 
   
}/*
#navbar .link ul li.active a{
  color: blue;
  border-bottom: none;
  padding-bottom:0px; 
}*/
#navbar .link ul.act{
  display: block;
  margin-top: 10px;
  background: #1b1b1c;
}


#navbar .btt{
  display: none;
  float: none;
  margin-left: 170px;
  margin-top: 10px;
}


#navbar .bttLog{
  display: none;
  float: left;
  margin-left: 20px; 
  margin-top: 10px
}


#navbar #dropdown {
  position: relative;
  display: inline-block;
  // margin-left: 10px;
  margin-left: 337px;
  cursor: pointer;
  // float: left;
  margin-top: 0px;
  // top:-26px;
  bottom: 35px;
}

#navbar #dropdown.profileIconRes{
  bottom: 200px ;
}

#navbar #dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* top:41px; */top: 28px;
  right:0px;
  width: 200px;
  background-color: white;
  font-weight:bold;
  position: absolute;
  display: none;     
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 107px;
  /* height: 120px; */
  left: -50px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

}

#navbar .responsive{
  float: none;
  display: inline-block;
  // display: inline-block;
  // margin-left: 22px;
  // margin-right: 105px;
  width: 90%;
}

#navbar .responsive ul{
  // width: 100%;
  width: 111%;
  display: none;
  margin-left: 0px;
}

 #navbar .responsive ul li {
  display: block;
  text-align: center;
}

 

#navbar .responsive ul li   a:hover,
 #navbar .responsive ul li.active a
{
  color: #fff;
  /* text-decoration: underline; */
  opacity: 1.0;  
  display:inline-block;
  // border-bottom:2px solid white;
  border-bottom: none;
  padding-bottom:0px; 
   
}
#navbar .responsive ul.act{
    display: block;
    margin-top: -46px;
    background: #1b1b1c;
    margin-left: 0px;
}

} 

/*small screen rules*/
@media (min-width:768px){ 
 
  .container-class{
    width: 744px;
    margin: auto;
  }
 
  #navbar .link{
    float: left;
    margin-right: 50px;
}


 #navbar .link ul{
	list-style: none;
	padding-left: 0px;
  float: left;
  margin-top: 5px;
  // width: 80%;
  width: 100%;
  margin-left: 45px;
}

#navbar .btt{
  float: left;
  margin-left: 11px;
  margin-top: 10px;
}

#navbar  #mybtt{
  width: 132px;
  height: 44px;
  background-color: #fff;
  color: #7570d6;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  border: 2px solid #fff;
}

#navbar .bttLog{
  float: left;
  margin-left: 12px; 
  margin-top: 10px
}

.bttLog #mybtt a{
  color: #7570d6;
  text-decoration: none; 
}


}


/*medium screen rules*/
@media (min-width:992px){
  
  .container-class{
    width: 992px;
    margin: auto;
  }
  #navbar .link{
    float: left;
    margin-right: 105px;
}


 #navbar .link ul{
	list-style: none;
	padding-left: 0px;
  float: left;
  margin-top: 5px;
  // width: 80%;
  width: 100%;
  margin-left: 45px;
}

#navbar .btt{
  float: left;
  margin-left: 11px;
  margin-top: 10px;
}

#navbar  #mybtt{
  width: 132px;
  height: 44px;
  background-color: #fff;
  color: #7570d6;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  border: 2px solid #fff;
}

#navbar .bttLog{
  float: left;
  margin-left: 12px; 
  margin-top: 10px
}

.bttLog #mybtt a{
  color: #7570d6;
  text-decoration: none; 
}


} 

/*large screen rules*/
@media (min-width:1200px){
 
  .container-class{
    width: 1200px;
    margin: auto;
  }

  #navbar .link{
    float: left;
    margin-left: 22px;
    margin-right: 105px;

}

 #navbar .link ul{
	list-style: none;
	padding-left: 0px;
  float: left;
  margin-top: 5px;
  width: 80%;
  margin-left: 115px;
}

 #navbar .link ul li {
    padding:10px;
    display: inline-block;
}

 #navbar .link ul li  a{
	color: #a3a6ba;
    text-decoration: none;
    padding: 5px;
    opacity: 0.6;
    font-family:Helvetica;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;

    
}



 #navbar .link ul li   a:hover,
 #navbar .link ul li.active a
{
    color: #fff;
    /* text-decoration: underline; */
    opacity: 1.0;  
    display:inline-block;
    border-bottom:2px solid white;
    padding-bottom:13px; 
   
}

#navbar .btt{
  float: left;
  margin-left: 330px;
  margin-top: 10px;
}

#navbar  #mybtt{
  width: 132px;
  height: 44px;
  background-color: #fff;
  color: #7570d6;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  border: 2px solid #fff;
}

#navbar .bttLog{
  float: left;
  margin-left: 20px; 
  margin-top: 10px
}

.bttLog #mybtt a{
  color: #7570d6;
    text-decoration: none; 
}

}

.customixeImage{
  overflow: hidden;
}

.customeClose{
  float: right;
  margin-top: 12px;
}
// .miod2{
//   float: left;
// }
.login{
  margin-bottom: 44px;
}

.createNew{
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #343643;
  margin-bottom: 12px;
}

.joinUs{
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #a3a6ba;
  margin: 0px;
}

.name{
  margin-bottom: 40px;
}

.email{
  margin-bottom: 40px;
}

.password{
  margin-bottom: 68px;
}
.passwordLogIn{
  margin-bottom: 28px;
}

.customizeHeading{
  
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #343643;
}
.message{
  padding-bottom: 52px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #a3a6ba
}
/////////////////////////////////////////////////// gemy ///////////////////////////////////////////////////////

.form-wrapper {
 
  display: flex;
  flex-direction: column;
  padding: 32px 60px 38px 32px;
  border-radius: 10px;  
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
  width: 555px;
  // height: 100%;
  border-radius: 16px;
  margin :0 auto;

}

.ic-logo {
  // width: 70px;
  // height: 70px;
  // object-fit: contain;
  // margin-left: 170px;
  // display: block;
  // margin-left: auto;
  // margin-right: auto;
  
  width: 70px;
  margin-left: 195px;
  float: left;
  margin-top: 12px;
}

.ic-close{
  margin-left: auto;
  cursor: pointer;

}

.word2{
  margin: 0 auto;
  width: 206px;
  height: 19px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-weight: 500;
  color: #a3a6ba;
  padding-top: 12px;
}

.label-class {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #a3a6ba;
  margin-bottom: 10px;
}

.input-class {
  width: 400px;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #343643;
  border: none;
  border-color: transparent;
  // border-bottom: 0.8px solid #a3a6ba ; 
  border-bottom: 1px solid #eeecec;
  outline: none;
  
}

// .input-class::placeholder {
  
//   font-weight: lighter;
//   color: #999;
//   padding: 2px 2px 2px 2px;
//   margin-left: 2px;
// }


.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
    box-shadow: none;
}

.createAccount button {
  
  color: #fff;
  border: 2px solid #fff;
  padding: 8px 0px;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  width: 160px;
  height: 48px;
  border-radius: 6px;
  background-color: #7570d6;
  // margin-top: 56px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
  outline: none;
    box-shadow: none;
}

.createAccount button:hover {
  color: #7570d6;
  background-color: #fff;
  border: 2px solid #7570d6;
  outline: none;
    box-shadow: none;
}

.createAccount small {
  font-weight: lighter;
  padding-top: 32px;
  width: 357px;
  height: 20px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color:#a3a6ba;
}

.forget{
  width: 357px;
  height: 20px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #7f5fcb;
  margin-left: auto;
  text-decoration: none;
  display: block;
  margin-bottom: 56px;
}

.form-class{
  // padding-top: 44px;
  // padding-left: 60px;
  margin-left:60px;
}



.acc a{
  font-weight: bold;
  color: #7f5fcb;
  text-decoration: none;
}


// reset password safaa


.word-reset{
  
  font-family: "Open sans";
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #343643;
  margin-top: 26px;
  margin-bottom: 70px;
}


.e1 {
width: 37px;
height: 15px;
font-family: "Open sans";
font-size: 12px;
font-weight: 500;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
color: #a3a6ba;

}

.e {
  width: 400px;
  height: 22px;
  font-family: "Open sans";
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #343643;
  border: none;
  border-color: transparent;
  margin-top: 10px;
  border-bottom: 0.8px solid #a3a6ba ; 

  
}

.e::placeholder {
  
  font-weight: lighter;
  color: #999;
  padding: 2px 2px 2px 2px;
  margin-left: 2px;
}


.reset{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset button {
  
  color: #fff;
  border: 2px solid #fff;
  padding: 8px 0px;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  width: 160px;
  height: 48px;
  border-radius: 6px;
  background-color: #7570d6;
  margin-top: 56px;
  font-family: "Open sans";
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 32px;

}

.reset button:hover {
  color: #7570d6;
  background-color: #fff;
  border: 2px solid #7570d6;
}


.back{
  width: 357px;
  height: 20px;
  font-family: "Open sans";
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #7f5fcb;

}

.back:hover{
  color: #7f5fcb;
}


.bb{
  margin-left: 148px;
  padding-top:32px;
}


// forget password 2

.word{
  margin: 0 auto;
  width: 435px;
  height: 28px;
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: bold;
  letter-spacing: normal;
  color: #343643;
  text-align: center;
  
}
.pass11{
  margin-top: 70px;
}

.passlab {
  width: 37px;
  height: 15px;
  font-family: "Open sans";
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #a3a6ba;
  padding-bottom: 10px;
}


.passinput{
  width: 400px;
  height: 22px;
  font-family: "Open sans";
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #343643;
  border: none;
  border-color: transparent;
  margin-top: 10px;
  border-bottom: 0.8px solid #a3a6ba ; 
}


.passinput::placeholder {
  
  font-weight: lighter;
  color: #999;
  padding: 2px 2px 2px 2px;
  margin-left: 2px;
}
.passinput::placeholder {
  
  font-weight: lighter;
  color: #999;
  padding: 2px 2px 2px 2px;
  margin-left: 2px;
}

.savepass{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.savepass button {
  
  color: #fff;
  border: 2px solid #fff;
  padding: 8px 0px;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
  width: 160px;
  height: 48px;
  border-radius: 6px;
  background-color: #7570d6;
  margin-top: 56px;
  font-family: "Open sans";
  font-size: 16px;
  font-weight: bold;
  
}

.savepass button:hover {
  color: #7570d6;
  background-color: #fff;
  border: 2px solid #7570d6;
}







.fa{
font-size: 20px;
color: #7a797e;
}
.passdiv{
margin-top: 35px;
}
.cancel{
width: 357px;
height: 20px;
font-family: "Open sans";
font-size: 16px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: normal;
text-align: center;
color: #7f5fcb;
margin-left: 27px;
margin-top: 32px;
}

.cancel:hover{
cursor: pointer;
}


//check ur inbox ...

.emailto{
  width: 367px;
  height: 72px;
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #a3a6ba;
  margin-top: 10px;
  
}

.resendemail{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 14px;
}

.resendemail button {
  
  color: #fff;
  border: 2px solid #fff;
  // padding: 8px 0px;
  letter-spacing: 1px;
  // margin-bottom: 0.25em;
  width: 160px;
  height: 48px;
  border-radius: 6px;
  background-color: #7570d6;
  // margin-top: 56px;
  font-family: "Open sans";
  font-size: 16px;
  font-weight: bold;
  
}

.resendemail button:hover {
  color: #7570d6;
  background-color: #fff;
  border: 2px solid #7570d6;
}


.cancel{
  width: 357px;
  height: 20px;
  font-family: "Open sans";
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #7f5fcb;
  margin: 0px;
  margin-top: 32px;
}

.cancel:hover{
  cursor: pointer;
}