
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    height: 1940px;
    }



.container{
	width: 1200px;
	margin: auto;
}

.clearfix{
	clear: both;
}


 #navbar{
    background:   #564A8B; /* #593b90;*/
    height: 64px;
    overflow: hidden;   
    /* margin-left: 89.5px; */
}



 #navbar #image{
    float: left;
    margin-top: 16px;
    /* margin-left: 89.5px; */
}

 #navbar .link{
    float: left;
    margin-left: 100px;
}

 #navbar ul{
	list-style: none;
	padding-left: 0px;
	overflow: hidden;
    float: right;
    
}

 #navbar ul li {
	float: left;
    padding:10px;
    
}

 #navbar ul li  a{
	color: #a3a6ba;
    text-decoration: none;
    padding: 5px;
    opacity: 0.6;
    font-family:Helvetica;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;

    
}



 #navbar ul li   a:hover,
 #navbar ul li.active a
{
    color: #fff;
    /* text-decoration: underline; */
    opacity: 1.0;  
    display:inline-block;
    border-bottom:2px solid white;
    padding-bottom:13px; 
   
}

.qq{
    /* display:inline-block; */
}
.qq span{
    padding-bottom: 10px;
  border-bottom: 1px solid pink;
  line-height: 48px;
}


#navbar .btt{
    float: left;
    margin-left: 80px; /* 629 */
    margin-top: 10px
}

 #navbar  #mybtt{
    width: 132px;
    height: 44px;
    background-color: #fff;
    color: #7570d6;
    font-weight: bold;
    /* padding: 14px 25px; */
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    /* margin-left: 590px; */
    border: 2px solid #fff;
}

#navbar .bttLog{
    float: left;
    margin-left: 20px; 
    margin-top: 10px
}

 


.header {
    /* width: 1349px; /* 1440px */
     /* height: 380px; */
     /* opacity: 0.36; */
     /* mix-blend-mode: darken; */
     background-color:  #564A8B; /*#673ab7*/
     padding-top:58px;
     /* background-image: url("../architect.svg"); */
     /* width: 1440px; */
     /* height: 381px; */
     
   }

.header  .intro{

	/* margin-top: 100px; */
	text-align: center;
    /* background-color: yellow; */
    padding-top: 100px;
    padding-bottom:65px;
    /* background-image: linear-gradient(256deg, #937de2 97%, #7570d6 21%); */
}

.header  .intro h2{

	margin:0 auto;
	font-size: 30px;
    width: 572px;
    height: 38px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    /* font-family:Helvetica; */
}

.header  .intro p{
  /* width: 474px;
  height: 23px; */
  margin-top: 20px;
  /* opacity: 0.6; */
  /* font-family: HelveticaNeue; */
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #aca0be;
  
}

/* search bar but have issue in position :( */

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_box{
    width: 50%;
    /* position: relative; */
}

.search_box input[type="text"]{
    width: 100%;
    padding: 22px;
    box-sizing: border-box;
    border: 2px solid#fff;
    border-radius: 10px;
    font-size: 18px;
    width: 576px;
    height: 56px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0rgba(0, 0, 0, 0.5);
    /* opacity: 0.6; */
  /* font-family: HelveticaNeue; */
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #42455b;
}
/* 
::-webkit-input-placeholder{
    color: #fff;
}
 
::-moz-placeholder{
    color: #ffff; 
} */

.ic{
    /* position: absolute; */
    /* top:50%; */
    /* transform: translateY(-50%); */
    /* right:25px; */
    color: #fff;
    /* width: 20px; */
  /* height: 20px; */
  /* background-image: url("ic-searchmain.svg"); */
  object-fit: contain;
  background: none;
  border: none;
  transform: translateY(-145%);
  margin-left: 490px;

}

@media Screen and (max-width: 425px){
    
.search_box{
    width: 95%;
}
}


/* ALternative search bar using relation */

#searchbar{
    /* border: 1px solid #000;  */
    /* font-size: 16px; */
    /* padding: 10px; */
    outline: none;
    width: 250px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* border-right: none; */
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid#fff;
    width: 500px;
    height: 56px;
    /* font-family: HelveticaNeue; */
    /* font-size: 15px; */
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #42455b;
    margin-bottom: 20px;
    /* opacity: 0.6;*/
  
}

#searchbtn{
    border: 1px solid #000;
    font-size: 16px;
    padding: 10px;
    padding-right: 70px;
    background: #f1d829;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: none;
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-image: none;
    border-left: none;
    background-image: url("../assets/ic-searchmain.svg");
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    border: 2px solid#fff;
    /* width: 576px; */
    height: 56px;
    background-color:#fff;
    margin-bottom: 20px;
}

/* 
.intro form{
    margin: 20px;
} */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }



 



/*--------------------------------------------------------------------------------------*/

.poll{

     /* background-color: #f2f2f2; */
     margin-top: 71px;
     /* width: 1300px;*/
     /* height: 1000px;  */
    /* padding: 30px;     */
}

.poll .our-work{
    overflow: hidden;
}
/* 
.poll .our-work >div{
    float: left;
    width: 33.333333%;
    margin-bottom: 10px;
} */

.poll .card{
    /* background-color: brown; */
    /* margin-right: 38px; */
    /* margin-bottom: 38px; */
    /* width: 358px; */
    /* height: 450px; */
    /* height: 100%; */
    /* border-radius: 4px; */
    /* border: solid 1px #f3f3f9; */
    background-color: #ffffff;
    /* border: 3px solid #2DCC70; */
    float: left;
    width: 33.333333%;
    margin-bottom: 39px;
    /* margin-right: 32px; */
    
}

.photo{
    background-color: darkgray;
    color: #fff;
    width: 357px;
    height: 200px;
    border-radius: 4px;
    /* background-image: url("../vote.jpg"); */
    background-size:100% 100%;
    /* width: 100%; */
    /* height: 100%; */
    /* padding-top: 20px; */
    
}

.photo img{
    width: 100%;
    border-radius: 50%;

}
.hhh{
    overflow: hidden;
}
.photo .hhh img{
    width: 100%;
}

.info{
    overflow: hidden;
    /* background: red; */
    padding: 20px 20px;
}


.poll .card .infoPoll{
    margin-left: 38px;
}

.poll .card .infoPoll .durationPoll{
    width: 281px;
  height: 28px;
  /* font-family: HelveticaNeue; */
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #a3a6ba;
}

.poll .card .infoPoll .namePoll{
    width: 281px;
  height: 56px;
  /* font-family: HelveticaNeue; */
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #343643;
}

.poll .card  hr{
    margin: 20px 0;
    background-color: #999;
    height: 1px;
    border: 0;

}

.poll .card  .vote{
    width: 358px;
  /* height: 20px; */
  /* font-family: HelveticaNeue; */
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #7f5fcb;
  background: none;
  border: 3px solid #fff;
  margin-top: 98px;
  margin-bottom: 16px;
  border: 1px solid #f3f3f9;
  border-left-style:none ;
  border-right-style: none;
  /* outline-style: solid; */
  padding: 16px;
}

.noIndex2Image{
    background: gray;
    width: 32px;
    height: 32px;
     margin-right: 20px;
     margin-top: 5px;
    border-radius: 50%;
    /* background-size: cover; */
    text-align: center;
    /* border: 3px solid #73AD21; */
    margin-top: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
    float: left;
}

.noIndex2Image img{
	/* float: left; */
    width: 100%;
    border-radius: 50%;

}

.noIndex3Name{
    float: left;
    /* width: 281px; */
  height: 28px;
  /* font-family: HelveticaNeue; */
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  /* line-height: 1.75; */
  letter-spacing: normal;
  color: #ffffff;
    /* width: 68px; */
    /* margin: 10px 20px; */
}
.noIndex3Name p {
    /* float:left; */
    /* width: 100%; */
    /* float: left; */
     margin: 5px;
/*      
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #ffffff;   */

}

/* ------------------------------------------------------------------------------------------- */
/* my polls */

.contribute .count p{
    width: 281px;
  height: 28px;
  font-family: HelveticaNeue;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #343643;
  margin: 70px 0 32px ;
}
/* 
#navbar .navsearch{
    width: 388px;
    display: inline-block;
} */

#searchbarMYBOLL{
    /* border: 1px solid #000; */
    /* font-size: 16px; */
    /* padding: 10px; */
    outline: none;
    width: 250px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
    padding: 19px 0px 19px 20px;
    box-sizing: border-box;
    border: 2px solid#fff;
    width: 367px;
    height: 42px;
    /* font-family: HelveticaNeue; */
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color:#42455b;
    margin-bottom: 12px;
    margin-top: 12px;
    margin-left: 39px;
    
    /* opacity: 0.6; */
  
}

#searchbtnMYBOLL{
    border: 1px solid #000;
    font-size: 15px;
    /* padding-right: 10px; */
    background: #f1d829;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: none;
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-image: none;
    border-left: none;
    background-image: url("../assets/ic-searchmain.svg");
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    padding-right: 50px;
    background-position: center;
    box-sizing: border-box;
    border: 2px solid#fff;
    /* width: 576px; */
    height: 42px;
    background-color:#fff;
    margin-bottom: 12px;
    margin-top: 12px;

}


#navbar  #mybttMYBOLL{
    width: 132px;
    height: 44px;
    background-color:#fff;
    color:#7570d6;
    font-weight: bold;
    /* padding: 14px 25px; */
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    margin-left: 135px;
    border: 2px solid #fff;
}