body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  height: 1940px;
  }

  
.container{
	width: 1200px;
	margin: auto;
}


#navbar{
    background:   #564A8B; /* #593b90;*/
    height: 64px;
    overflow: hidden;   
    /* margin-left: 89.5px; */
}

#navbar #image{
    float: left;
    margin-top: 16px;
    /* margin-left: 89.5px; */
}

 #navbar .link{
    float: left;
    margin-left: 100px;
}

 #navbar ul{
	list-style: none;
	padding-left: 0px;
	overflow: hidden;
    float: right;
    
}

 #navbar ul li {
	float: left;
    padding:10px;
    
}

 #navbar ul li  a{
	color: #a3a6ba;
    text-decoration: none;
    padding: 5px;
    opacity: 0.6;
    font-family:Helvetica;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;

    
}



 #navbar ul li   a:hover,
 #navbar ul li.active a
{
    color: #fff;
    /* text-decoration: underline; */
    opacity: 1.0;  
    display:inline-block;
    border-bottom:2px solid white;
    padding-bottom:13px; 
   
}

#searchbarMYBOLL{
  /* border: 1px solid #000; */
  /* font-size: 16px; */
  /* padding: 10px; */
  outline: none;
  width: 250px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
  padding: 19px 0px 19px 20px;
  box-sizing: border-box;
  border: 2px solid#fff;
  width: 367px;
  height: 42px;
  /* font-family: HelveticaNeue; */
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color:#42455b;
  margin-bottom: 12px;
  margin-top: 12px;
  margin-left: 39px;
  
  /* opacity: 0.6; */

}

#searchbtnMYBOLL{
  border: 1px solid #000;
  font-size: 15px;
  /* padding-right: 10px; */
  background: #f1d829;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: none;
  background-color: rgba(0, 0, 0, 0);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-image: none;
  border-left: none;
  background-image: url("../assets/ic-searchmain.svg");
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  padding-right: 50px;
  background-position: center;
  box-sizing: border-box;
  border: 2px solid#fff;
  /* width: 576px; */
  height: 42px;
  background-color:#fff;
  margin-bottom: 12px;
  margin-top: 12px;

}


#navbar  #mybttMYBOLL{
  width: 132px;
  height: 44px;
  background-color:#fff;
  color:#7570d6;
  font-weight: bold;
  /* padding: 14px 25px; */
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  margin-left: 135px;
  border: 2px solid #fff;
}
/***************************************************/

.backButton{
  width: 100px;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: darkgray;
  /* font-weight: 800; */
  margin-top: 60px;
  margin-bottom: 24px;
  cursor: pointer;
}

#title{

  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #343643;
  margin-bottom: 50px;
}

/*******************************************/
.chart-container{
    width: 40%;
    height: 100%;
    margin: 0 auto;
    /* margin-left: 405px; */
}

.stoping{
    overflow: hidden;
    margin-top: 175px;
}

.imageStop{
  float: left;
  width: 24px;
  height: 24px;
  padding-left: 175px;
}

.textStop{
  float: left;
  width: 76px;
  height: 22px;
  /* font-family: HelveticaNeue; */
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #d82b2b;
  padding-left: 12px;
  padding-top: 3px;
}

.sharePoll{
  margin-top: 57px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: darkgray;
  margin-bottom: 7px;
}

.sharing{
  overflow: hidden;
  padding-left: 140px;
  padding-top: 22px;
}

.imageShare{
  float: left;
}

.textShare{
  float: left;
  font-size: 18px;
  font-weight: 500;
  color: #343643;
  padding-left:12px ;
  padding-top: 3px;
  
}
.underdevelopment {
    background-color: #7f5fcb;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    left: -50px;
    top: 40px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
  }
  .underdevelopment a {
    border: 1px solid #313153;
    color: #fff;
    font: bold 100% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: block;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    cursor: default;
  }